.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 200px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ddd;
}

body{
    background-color: yellowgreen;
}